## Ensemble Technique -  Using multiple models instead of single model . 


### Ensemble tecgniques are tree type :

#### 1. Boosting
#### 2. Bagging
#### 3. Stacking

### Bagging technique : -   1 . Random forest classifier and Regressor .

### Boosting technique : - 1. Adaboost 
###                                        2. Gradiant boost.
###                                        3.Xgboost.

### Random forest classifier and Regressor -

### Note :

#### Classification - mejority voting classifier .
#### Regressor - Average output of the model .

# Random Forest Classifier With Pipeline And Hyperparameter  Tuning

In [1]:
import seaborn as sns
df = sns.load_dataset('tips')

In [2]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [5]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [8]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [9]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [10]:
df.time

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [11]:
# output categorical feature ko integer me change karna

In [12]:
 from sklearn.preprocessing import LabelEncoder

In [13]:
encoder = LabelEncoder()

In [14]:
df['time'] = encoder.fit_transform(df['time'])

In [15]:
df['time']

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int32

In [16]:
df['time'].unique()

array([0, 1])

In [17]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [18]:
## dependent and independent feature me change karna

X= df.drop(labels=['time'],axis=1)
y = df.time

In [19]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int32

In [21]:
# train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20 , random_state=42)

In [22]:
X_train

     total_bill   tip     sex smoker   day  size
228       13.28  2.72    Male     No   Sat     2
208       24.27  2.03    Male    Yes   Sat     2
96        27.28  4.00    Male    Yes   Fri     2
167       31.71  4.50    Male     No   Sun     4
84        15.98  2.03    Male     No  Thur     2
..          ...   ...     ...    ...   ...   ...
106       20.49  4.06    Male    Yes   Sat     2
14        14.83  3.02  Female     No   Sun     2
92         5.75  1.00  Female    Yes   Fri     2
179       34.63  3.55    Male    Yes   Sun     2
102       44.30  2.50  Female    Yes   Sat     3

[195 rows x 6 columns]

In [23]:
# 

X['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [24]:
## categorical features ko numerical me change karne ke liye everwhere EDA nhi karenge isliye pipline ka use karenge

from sklearn.pipeline import Pipeline

In [25]:
## missing valus ko handle karne ke liye

from sklearn.impute import SimpleImputer

In [26]:
##  feature scaling ke liye

from sklearn.preprocessing import StandardScaler

In [27]:
## categorical ke liye

from sklearn.preprocessing import OneHotEncoder

In [28]:
## jyada pipelines ko ek sath use karne ke liye bhi hota hai

from sklearn.compose import ColumnTransformer

In [29]:
categorical_cols = ['sex' ,'smoker','day']
numerical_cols = ['total_bill' ,'tip' , 'size']

In [30]:
categorical_cols

['sex', 'smoker', 'day']

In [31]:
numerical_cols

['total_bill', 'tip', 'size']

In [32]:
## Feature engineering automation
## numerical pipeline 

num_Pipeline = Pipeline(
      steps = [
          ('imputer' , SimpleImputer(strategy='median')),## missing values handle
          ('scaler' , StandardScaler())  ## feature scaling 
      ]
)

## cotrgorical pipeline

cat_Pipeline = Pipeline(
                 steps=[
                     ('imputer' , SimpleImputer(strategy='most_frequent')), ## handling missing
                     ('onehotencoder' , OneHotEncoder())  ## categorical to numerical 
                 ]
)

In [33]:
## dono pipeline numerical and categorical ko combine karne ke liye columntransfer use karnege

preprocesser = ColumnTransformer([
    ('num_Pipeline' , num_Pipeline, numerical_cols),
    ('cat_Pipeline' , cat_Pipeline , categorical_cols)
])

In [34]:
X_train = preprocesser.fit_transform(X_train)
X_test = preprocesser.transform(X_test)

In [35]:
X_train

array([[-0.79306155, -0.2580329 , -0.61214068, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.46322744, -0.74211442, -0.61214068, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.80730659,  0.6399734 , -0.61214068, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.65383098, -1.46472887, -0.61214068, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.64749986,  0.32426806, -0.61214068, ...,  0.        ,
         1.        ,  0.        ],
       [ 2.75289699, -0.41237773,  0.45363997, ...,  1.        ,
         0.        ,  0.        ]])

In [36]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

In [37]:
## model training automation 

models = {
     'Random Forest' : RandomForestClassifier(),
     'Logistic Regression' : LogisticRegression(),
     'Decision Tree' : DecisionTreeRegressor()
}

In [38]:
preprocesser = ColumnTransformer([])

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
def e_model(X_train , y_train , X_test , y_test):
    
    report = {}
    
    for i in range(len(models)):
        model = list(models.values())[i]
        
            
            # train model
            
        model.fit(X_train , y_train)
        
            
            
            ## predict testing data
            
        y_test_pred = model.predict (X_test)
        
            
            # get r2 scores for train test data
            
        test_model_score = accuracy_score(y_test , y_test_pred)
        
            
        report[list(models.keys())[i]] = test_model_score
        
            
        return report

In [41]:
def evaluate_model(X_train , y_train , X_test , y_test , models):
    
    report = {}
    
    for i in range(len(models)):
        model = list(models.values())[i]
        
            
            # train model
            
        model.fit(X_train , y_train)
        
            
            
            ## predict testing data
            
        y_test_pred = model.predict (X_test)
        
            
            # get r2 scores for train test data
            
        test_model_score = accuracy_score(y_test , y_test_pred)
            
        report[list(models.keys())[i]] = test_model_score
            
        return report

In [42]:
evaluate_model(X_train , y_train , X_test , y_test,models)

{'Random Forest': 0.9591836734693877}

In [43]:
classifier = RandomForestClassifier()

In [44]:
## hyperparameter tunig

params={'max_depth' : [3,5,19,None],
          'n_estimatiors' : [100 ,200,300] ,
          'citerion' : ['gini' , 'entropy']
         }

In [45]:
from sklearn.model_selection import RandomizedSearchCV

In [46]:
cv = RandomizedSearchCV(classifier,param_distributions=params,scoring='accuracy',cv=5,verbose=3)

In [48]:
cv.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

ValueError: Invalid parameter 'n_estimatiors' for estimator RandomForestClassifier(). Valid parameters are: ['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'].

In [51]:
cv.best_params_

AttributeError: 'RandomizedSearchCV' object has no attribute 'best_params_'