Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans.

In [1]:
import pandas as pd

# Create the series
series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
my_series = pd.Series(my_list)

In [4]:
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name -
Alice ,
Bob ,
Claire ,

Age -
25,
30,
27,

Gender -
Female,
Male,
Female,

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

In [6]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects. The data parameter can take any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series.

Example :

In [7]:
import pandas as pd

data = {'Math': [85, 92, 78, 90],
        'Science': [90, 87, 92, 85],
        'English': [78, 85, 80, 82]}

df = pd.DataFrame(data)
print(df)

   Math  Science  English
0    85       90       78
1    92       87       85
2    78       92       80
3    90       85       82

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?


Ans :  Pandas is a powerful library in Python for data manipulation and analysis. Here are some common functions that can be used to manipulate data in a Pandas DataFrame:

1. `df.head(n)` - Returns the first n rows of the DataFrame.

Example: Suppose you have a large DataFrame and you want to quickly preview the first few rows to get a sense of what the data looks like. You can use `df.head()` to get the first five rows or `df.head(n)` to get the first n rows.

2. `df.tail(n)` - Returns the last n rows of the DataFrame.

Example: Similar to `df.head(n)`, you can use `df.tail(n)` to get the last n rows of the DataFrame.

3. `df.info()` - Provides information about the DataFrame, such as the data types of each column and the number of non-null values.

Example: If you're working with a large DataFrame and want to quickly check the data types and null values in each column, you can use `df.info()` to get a summary.

4. `df.describe()` - Provides summary statistics for each numerical column in the DataFrame, such as mean, standard deviation, and quartiles.

Example: If you're working with numerical data, you can use `df.describe()` to get a quick summary of the data distribution.

5. `df.groupby()` - Groups the DataFrame by one or more columns and applies an aggregation function to each group.

Example: If you want to analyze the data by groups, such as the total sales by product category, you can use `df.groupby('product_category').sum()` to group the data by the product category column and calculate the sum of the numerical columns for each group.

6. `df.sort_values()` - Sorts the DataFrame by one or more columns.

Example: If you want to sort the data by a particular column, such as the sales column in descending order, you can use `df.sort_values('sales', ascending=False)` to sort the data by the sales column in descending order.

7. `df.drop()` - Removes rows or columns from the DataFrame.

Example: If you want to remove a column from the DataFrame, such as a column that contains irrelevant data, you can use `df.drop('column_name', axis=1)` to remove the column.

8. `df.fillna()` - Fills missing values in the DataFrame with a specified value.

Example: If your data contains missing values and you want to fill them with a specific value, such as 0, you can use `df.fillna(0)` to fill all missing values with 0.

These are just a few examples of the many functions available in Pandas for manipulating data.
Ans .

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. 

Both Series and DataFrame are mutable in nature, while Panel is deprecated in the current version of Pandas . 

Mutable objects are those that can be modified after they are created. For example, you can add or remove elements from a mutable object, or modify its existing elements. 

In the case of a Pandas Series, you can modify its values using the indexing operator or by using the `.loc` or `.iloc` attribute. Similarly, you can add or remove columns or rows from a Pandas DataFrame using various methods like `.loc`, `.iloc`, and `.drop`, or you can modify its existing values using the indexing operator or the `.loc` attribute.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans. import pandas as pd

### Creating a Series of names
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])

### Creating a Series of ages
ages = pd.Series([25, 30, 35, 40])

### Creating a DataFrame with the names and ages
df = pd.DataFrame({'Name': names, 'Age': ages})

print(df)

In [8]:
df

   Math  Science  English
0    85       90       78
1    92       87       85
2    78       92       80
3    90       85       82