Q1. List any five functions of the pandas library with execution.

Ans.

In [2]:
import pandas as pd

# Read the CSV file and create a DataFrame object
data = pd.read_csv('data_science_job.csv.zip')

In [3]:
data

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,NaN,NaN,36.0,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,47.0,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,83.0,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,52.0,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,20.0,50-99,Funded Startup,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14.0,NaN,NaN,42.0,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14.0,NaN,NaN,52.0,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,50-99,Pvt Ltd,44.0,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,0.0,500-999,Pvt Ltd,97.0,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2.0,NaN,NaN,127.0,0.0

In [6]:
import pandas as pd

# Read the CSV file and create a DataFrame object
data = pd.read_csv('data_science_job.csv.zip')

# Print the first 5 rows of the DataFrame
print(data.head())

   enrollee_id      city  city_development_index gender  \
0         8949  city_103                   0.920   Male
1        29725   city_40                   0.776   Male
2        11561   city_21                   0.624    NaN
3        33241  city_115                   0.789    NaN
4          666  city_162                   0.767   Male

       relevent_experience enrolled_university education_level  \
0  Has relevent experience       no_enrollment        Graduate
1   No relevent experience       no_enrollment        Graduate
2   No relevent experience    Full time course        Graduate
3   No relevent experience                 NaN        Graduate
4  Has relevent experience       no_enrollment         Masters

  major_discipline  experience company_size    company_type  training_hours  \
0             STEM        20.0          NaN             NaN            36.0
1             STEM        15.0        50-99         Pvt Ltd            47.0
2             STEM         5.0          NaN             NaN            83.0
3  Business Degree         0.0          NaN         Pvt Ltd            52.0
4             STEM        20.0        50-99  Funded Startup             8.0

   target
0     1.0
1     0.0
2     0.0
3     1.0
4     0.0

In [10]:
import pandas as pd

# Read the CSV file and create a DataFrame object
data = pd.read_csv('data_science_job.csv.zip')

# Get the statistical summary of the DataFrame
print(data.describe())

        enrollee_id  city_development_index    experience  training_hours  \
count  19158.000000            18679.000000  19093.000000    18392.000000
mean   16875.358179                0.828951      9.928036       65.185787
std     9616.292592                0.123334      6.505268       59.885626
min        1.000000                0.448000      0.000000        1.000000
25%     8554.250000                0.740000      4.000000       23.000000
50%    16982.500000                0.903000      9.000000       47.000000
75%    25169.750000                0.920000     16.000000       88.000000
max    33380.000000                0.949000     20.000000      336.000000

             target
count  19158.000000
mean       0.249348
std        0.432647
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [18]:
import pandas as pd

data = {
    'A': ['Alice', 'Bob', 'Claire'],
    'B': [25, 30, 27],
    'C': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

In [19]:
df

        A   B       C
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [14]:
import pandas as pd

def reindex_df(df):
    new_index = pd.Index(range(1, 2*len(df)+1, 2))
    df = df.set_index(new_index)
    return df

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.


For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [22]:
import pandas as pd

def sum_first_three(df):
    first_three = df['Values'].iloc[:3]
    sum_first_three = first_three.sum()
    print(sum_first_three)

In [23]:
# create a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# call the function to calculate and print the sum of the first three values
sum_first_three(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [24]:
import pandas as pd

def add_word_count_column(df):
    """
    A function to add a new column 'Word_Count' to a Pandas DataFrame that contains the number of words in each row
    of the 'Text' column.
    
    Parameters:
    -----------
    df : pandas.DataFrame
        A DataFrame containing the 'Text' column to be counted.
    
    Returns:
    --------
    pandas.DataFrame
        The input DataFrame with a new column 'Word_Count' that contains the number of words in each row of the 'Text'
        column.
    """
    # Use the str.split() method to split the 'Text' column into words, then use the len() function to count the
    # number of words in each row, and assign the result to a new column 'Word_Count'.
    df['Word_Count'] = df['Text'].str.split().apply(len)
    return df

In [27]:
df

   Values
0      10
1      20
2      30
3      40
4      50

Q5. How are DataFrame.size() and DataFrame.shape() different?

`DataFrame.size() -  and `DataFrame.shape()` are both methods of a Pandas DataFrame, but they return different information.

`DataFrame.size() -  returns the number of elements in the DataFrame. This is equivalent to the total number of cells in the DataFrame, which is the product of the number of rows and columns. 

`DataFrame.shape() -  returns a tuple containing the number of rows and columns in the DataFrame. So, if a DataFrame has 10 rows and 5 columns, `DataFrame.shape()` will return `(10, 5)`.

In summary,  - DataFrame.size()` returns the total number of elements in the DataFrame, while `DataFrame.shape()` returns the dimensions of the DataFrame as a tuple.

Q6. Which function of pandas do we use to read an excel file?

Ans.

In [28]:
import pandas as pd

# Read an Excel file named "example.xlsx" into a pandas DataFrame
df = pd.read_excel('')

# Display the DataFrame
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'example.xlsx'

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.


The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [31]:
import pandas as pd

def extract_username(df):
    # Split email addresses by '@' and select first element (the username)
    usernames = df['Email'].str.split('@').str[0]
    
    # Add new 'Username' column to DataFrame
    df['Username'] = usernames

In [32]:
extract_username(df)

In [33]:
df

                 Email Username
0  johndoe@example.com  johndoe
1  janedoe@example.com  janedoe

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

In [34]:
import pandas as pd

def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

In [35]:
# Example DataFrame
df = pd.DataFrame({'A': [3, 1, 7, 2, 4, 9],
                   'B': [5, 8, 2, 9, 1, 2],
                   'C': [1, 2, 6, 4, 3, 1]})

# Select rows where A > 5 and B < 10
new_df = select_rows(df)

# Print the new DataFrame
print(new_df)

   A  B  C
2  7  2  6
5  9  2  1