Q1. Write a code to print the data present in the second row of the dataframe, df.

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Print the data present in the second row of the dataframe
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})


Ans - 

Both `loc` and `iloc` are methods used to select rows and columns from a Pandas DataFrame, but they differ in the way they interpret the indices used to make the selections.

`loc` is used to select rows and columns by **label**. It takes two arguments: the first argument is the label(s) of the row(s) to select, and the second argument is the label(s) of the column(s) to select. If you want to select all the rows or all the columns, you can use the `:` symbol. 

Here's an example of how to use `loc`:

``` python
df.loc[1:3, ['course_name', 'duration']]
```

This would select rows 1 to 3 (inclusive) and the columns 'course_name' and 'duration'.

`iloc`, on the other hand, is used to select rows and columns by **integer position**. It takes two arguments: the first argument is the integer position(s) of the row(s) to select, and the second argument is the integer position(s) of the column(s) to select. 

Here's an example of how to use `iloc`:

``` python
df.iloc[1:3, [0, 1]]
```

This would select rows 1 to 2 (inclusive) and the first and second columns (which have integer positions 0 and 1, respectively).

In summary, the difference between `loc` and `iloc` is that `loc` uses labels to make selections, while `iloc` uses integer positions.

In [3]:
df.loc[1:3, ['course_name', 'duration']]

        course_name  duration
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
df.iloc[1:3, [0, 1]]

        course_name  duration
1  Machine Learning         3
2          Big Data         6

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

 Ans : To reindex the given DataFrame with the list [3,0,1,2], we can use the reindex method of pandas DataFrame and pass the list as an argument. The resulting DataFrame will have its rows rearranged according to the new index order. Here is the code to reindex the given DataFrame:

In [8]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

In [9]:
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

Ans : import pandas as pd

### create the DataFrame df1
df1 = pd.DataFrame({
    'column_1': [1, 2, 3, 4, 5],
    'column_2': [10, 20, 30, 40, 50],
    'column_3': [100, 200, 300, 400, 500]
})

### find the mean of each column
column_means = df1.mean()

# find the standard deviation of column_2
column_2_std = df1['column_2'].std()

print("Mean of each column:\n", column_means)
print("Standard deviation of column_2:", column_2_std)

In [16]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

In [23]:
#import pandas as pd

# read the data from a CSV file
#data = pd.read_csv('data_science_job.csv.zip')

# replace the value in the second row of column_2 with a string variable
#data.loc[1, 'column_2'] = 'new value'

# calculate the mean of column_2
#mean_column_2 = data['column_2'].mean()

Q6. What do you understand about the windows function in pandas and list the types of windows functions.

Ans - In pandas, the `window` function is used to perform a calculation over a rolling window of a specified number of periods. This can be useful for calculating moving averages, cumulative sums, or other rolling statistics.



There are three main types of window functions in pandas:


1. Rolling window functions: These functions are used to calculate rolling statistics over a specified window of time. The rolling function is used to create a rolling window object, which can then be used to apply a specific calculation.


2. Expanding window functions: These functions are used to calculate expanding statistics over the entire dataset. The  expanding function is used to create an expanding window object, which can then be used to apply a specific calculation.


3. Exponentially-weighted window functions: These functions are similar to rolling window functions, but with weights assigned to each period that decay exponentially over time. The ewm  function is used to create an exponentially-weighted window object, which can then be used to apply a specific calculation.

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

Ans -

In [21]:
import pandas as pd

# Get the current date and time
now = pd.Timestamp.now()

# Extract the current month and year
current_month = now.month_name()
current_year = now.year

# Print the current month and year
print(f"Current month and year: {current_month} {current_year}")

Current month and year: March 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [22]:
import pandas as pd

# prompt user to enter first date
date1 = input("Enter first date (YYYY-MM-DD): ")

# prompt user to enter second date
date2 = input("Enter second date (YYYY-MM-DD): ")

# convert input dates to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate timedelta between the two dates
delta = date2 - date1

# calculate difference in days, hours, and minutes
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

# display result
print("Difference between", date1.date(), "and", date2.date(), "is", days, "days,", hours, "hours, and", minutes, "minutes.")

Enter first date (YYYY-MM-DD): 2023-3-10
Enter second date (YYYY-MM-DD): 2023-9-15
Difference between 2023-03-10 and 2023-09-15 is 189 days, 0 hours, and 0 minutes.