### data me lot of feature hone par OHE method ka use nhi karna chahiye  ex. 1000 feature hone par

## Nominal / OHE ( one hot encoding )

In [1]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [2]:
##create a dataframe with a categorical variable

df = pd.DataFrame({
   'colour' : ['red','blue','green','violet','orangr'] , 'names' : ['priya','gyan','prakash','kushwaha','rajni']
})

In [3]:
df

   colour     names
0     red     priya
1    blue      gyan
2   green   prakash
3  violet  kushwaha
4  orangr     rajni

In [4]:
## create instance of one hot encoder

encoder = OneHotEncoder()

In [5]:
## fir and transform ko alag alag bhi call kr sakte hain

encoded = encoder.fit_transform(df[['colour']])

In [6]:
encoded

<5x5 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [7]:
# sparse matrix 0,1 ki overfitting method me aata hai

In [8]:
## sparse matrix ko array me convert karna 
## yah alphabatical format me short karta hai

encoder.fit_transform(df[['colour']]).toarray()

array([[0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.]])

In [9]:
encoded

<5x5 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [10]:
encoded_df = pd.DataFrame(encoded.toarray(),columns= encoder.get_feature_names_out())

In [11]:
encoded_df

   colour_blue  colour_green  colour_orangr  colour_red  colour_violet
0          0.0           0.0            0.0         1.0            0.0
1          1.0           0.0            0.0         0.0            0.0
2          0.0           1.0            0.0         0.0            0.0
3          0.0           0.0            0.0         0.0            1.0
4          0.0           0.0            1.0         0.0            0.0

In [12]:
pd.concat([df,encoded_df],axis=1)

,colour,names,colour_blue,colour_green,colour_orangr,colour_red,colour_violet
0,red,priya,0.0,0.0,0.0,1.0,0.0
1,blue,gyan,1.0,0.0,0.0,0.0,0.0
2,green,prakash,0.0,1.0,0.0,0.0,0.0
3,violet,kushwaha,0.0,0.0,0.0,0.0,1.0
4,orangr,rajni,0.0,0.0,1.0,0.0,0.0

#  Self practice

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
import pandas as pd

In [15]:
pd.DataFrame({ 'Actor': ['Sharukh','Bittu','salman','dhanush','shushant'],
              'Heroin': ['Gauri','Priyanka', 'Madhuri','katrina','vidya'],
              'State' : ['Madhya pradesh' , 'karnatka','tamil nadu','bihar','jammu']})

      Actor    Heroin           State
0   Sharukh     Gauri  Madhya pradesh
1     Bittu  Priyanka        karnatka
2    salman   Madhuri      tamil nadu
3   dhanush   katrina           bihar
4  shushant     vidya           jammu

In [16]:
encoder = OneHotEncoder

In [17]:
encoder.fit_transform(df[['State']])

KeyError: "None of [Index(['State'], dtype='object')] are in the [columns]"