In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_science_job.csv.zip')

In [3]:
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,NaN,NaN,36.0,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,47.0,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,83.0,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,52.0,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,20.0,50-99,Funded Startup,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14.0,NaN,NaN,42.0,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14.0,NaN,NaN,52.0,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,50-99,Pvt Ltd,44.0,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,0.0,500-999,Pvt Ltd,97.0,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2.0,NaN,NaN,127.0,0.0

In [4]:
len(df)

19158

In [5]:
df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'training_hours', 'target'],
      dtype='object')

In [6]:
list[df.columns]

list[Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'training_hours', 'target'],
      dtype='object')]

In [7]:
s = df['city']

In [8]:
len(s)

19158

In [9]:
type(s)

pandas.core.series.Series

In [10]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [11]:
l

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
pd.Series(s,index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: city, dtype: object

In [13]:
s1 = pd.Series([1,2,3,4,5,6], index=[1,2,3,4,5,6])

In [14]:
s2 = pd.Series([9,8,7,6,5,4] , [9,8,7,6,5,4])

In [15]:
S5 = s1.append(s2)

C:\Users\Smart\AppData\Local\Temp\ipykernel_12912\262017568.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  S5 = s1.append(s2)

In [16]:
S5

1    1
2    2
3    3
4    4
5    5
6    6
9    9
8    8
7    7
6    6
5    5
4    4
dtype: int64

In [17]:
S5[2]

2

In [18]:
s1

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [19]:
s2

9    9
8    8
7    7
6    6
5    5
4    4
dtype: int64

In [20]:
s1*s2

1     NaN
2     NaN
3     NaN
4    16.0
5    25.0
6    36.0
7     NaN
8     NaN
9     NaN
dtype: float64

In [21]:
s1+s2

1     NaN
2     NaN
3     NaN
4     8.0
5    10.0
6    12.0
7     NaN
8     NaN
9     NaN
dtype: float64